@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

#player-turn {
  text-align: center;
  margin: 28px;
  font-size: 48px;
  font-weight: 500;
}

.container {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(3, 22vmin);
  grid-template-rows: repeat(3, 22vmin);
  gap: 10px;
  place-content: center;
  width: 90%;
  margin: 40px auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8dae4;
  border: none;
  border-radius: 20px;
  font-size: 56px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 10px 10px 5px;
}

.x {
  color: #7f27ff;
}

.o {
  color: #0b60b0;
}

.popup {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  opacity: 0.8;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#message {
  color: #fff;
  font-size: 56px;
  font-weight: bold;
  margin: 10px 0;
}

#new-game {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-size: 20px;
  transition-duration: 0.5s;
}

#new-game:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}
